{% comment %}
    Renders product add to cart form

    Accepts:
    - product: product.id

    Usage:
    {% render 'product-form',
        product: product.id
    %}
{% endcomment %}

<product-form 
    class="my-10"
    data-product-id="{{ product.id }}"
    data-handle="{{ product.handle }}"
    data-default-variant-id="{{ product.selected_or_first_available_variant.id }}"
    data-locale="{{ shop_locale }}"
    data-cart-url="{{ routes.cart_url }}"
    data-next-var="{{ product.variants[1].id }}"
    data-product-object='{{ product | json }}'
    >
    <button class="button" data-test-button>TEST</button>

    <form>
        <div class="flex flex-col mb-10">
            <span>{{ product.price | money }}</span>
            <span>Stock: #stockcount</span>
        </div>

        <fieldset class="product-quantity">
            <label for="product-quantity__label">Quantity:</label>
            <div class="product-quantity__input-wrapper">
                <button data-decrement-quantity type="button" class="product-quantity__button">-</button>
                    <input class="product-quantity__input" type="number" min="1" value="1" id="product-quantity" name="product-quantity" />
                <button data-increment-quantity type="button" class="product-quantity__button">+</button>
            </div>
        </fieldset>

        {%- unless product.has_only_default_variant -%}

            {%- for option in product.options_with_values -%}
                <fieldset class="flex flex-col mb-10">
                    <legend class="mb-2">{{ option.name }}</legend>
                    {%- for value in option.values -%}
                        <div class="flex flex-row">
                            <input 
                                type="radio"
                                id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}" />
                            <label 
                                for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                class="ml-2">
                                {{ value }}
                            </label>
                        </div>
                    {%- endfor -%}
                </fieldset>
            {%- endfor -%}

        {% endunless %}

        <div>
            <button data-add-to-cart type="submit" class="button">Add to cart</button>
        </div>

    </form>

    <p data-response-message>Error message</p>
</product-form>