<div class="w-full flex flex-col px-16 py-10 bg-grey-4">
  <div class="flex flex-row ">
    <a href="{{ shop.url }}" class="block mx-2">
      <svg class="h-16 w-48 text-black" alt="logo">
        <use href="/assets/symbols.svg#logo" />
      </svg>
    </a>
    
    <nav class="mx-16">
      <ul class="flex flex-row h-full">
        {%- for link in section.settings.menu.links -%}
  
          <li class="mx-4 flex flex-col">
            {%- if link.links != blank -%}
  
              <a href="{{ link.url }}">{{ link.title | escape }}</a>

              <ul class="flex flex-col">
                {%- for item in link.links -%}

                  <li class="my-2"><a href="{{ item.link }}">{{ item.title }}</a></li>

                {%- endfor -%}
              </ul>
  
            {% else %}
  
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
  
            {% endif %}
          </li>
  
        {%- endfor -%}
      </ul>
    </nav>
  </div>

  <div class="mt-16 flex flex-row">
    <span class="mr-8">{{ section.settings.copyright-text }}</span>
    <ul class="flex flex-row">
      {%- for link in section.settings.footer-links.links -%}
        <li class="mr-8">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "tag": "footer",
  "class": "mt-24",
  "settings": [
    {
      "id": "menu",
      "type": "link_list",
      "label": "t:sections.footer.settings.menu.label",
      "default": "footer"
    },
    {
      "id": "footer-links",
      "type": "link_list",
      "label": "Footer links"
    },
    {
      "id": "copyright-text",
      "type": "liquid",
      "label": "Copyright",
      "default": "© Yoyo Design Ltd {{ 'now' | date: '%Y' }}"
    }
  ]
}
{% endschema %}
