<div class="fixed top-0 inset-x-0 h-12 bg-black text-white flex justify-between">
  <div class="flex items-center">
    <a href="{{ shop.url }}" class="block mx-2">
      <svg class="h-8 w-24 text-white" alt="logo">
        <use href="{{ 'symbols.svg#logo' | asset_url }}" />
      </svg>
    </a>
  </div>
  
  <nav class="h-full">
    <ul class="flex flex-row h-full">
      {%- for link in section.settings.menu.links -%}

        <li class="mx-2 group h-full flex flex-row items-center">
          {%- if link.links != blank -%}

            <a class="{%- if link.current -%}font-bold{%- endif -%}" href="{{ link.url }}">{{ link.title | escape }}</a>

            <div class="hidden absolute top-12 left-0 w-screen bg-grey-4 p-4 group-hover:block hover:block">
              <h3 class="text-h2 my-4">{{ link.title }}</h3>

              <ul class="flex flex-col">
                {%- for item in link.links -%}

                  <li class="my-2"><a href="{{ item.link }}">{{ item.title }}</a></li>

                {%- endfor -%}
              </ul>
            </div>

          {% else %}

            <a class="{%- if link.current -%}font-bold{%- endif -%}" href="{{ link.url }}">{{ link.title | escape }}</a>

          {% endif %}
        </li>

      {%- endfor -%}
    </ul>
  </nav>
  
  <ul class="flex flex-row items-center h-full z-20">
    <li class="mx-2">
      <details class="mx-2 open:overflow-visible">
        <summary>
          <svg class="h-6 w-6 text-white" alt="search">
            <use href="{{ 'symbols.svg#search' | asset_url }}" />
          </svg>
          <span class="sr-only">Search</span>
        </summary>
        {% render "search-bar" %}
      </details>
    </li>
    <li class="mx-2 relative">
      <details class="mx-2 relative open:overflow-visible">
        <summary>
          <svg class="h-6 w-6 text-white" alt="account">
            <use href="{{ 'symbols.svg#account' | asset_url }}" />
          </svg>
          <span class="sr-only">Account</span>
        </summary>
        {% render "account-menu" %}
      </details>
    </li>
    <li class="mx-2">
      <details data-cart-drawer-details class="static mx-2 open:overflow-visible z-20">
        <summary>
          <svg class="h-6 w-6 text-white" alt="cart">
            <use href="{{ 'symbols.svg#cart' | asset_url }}" />
          </svg>
          <span class="sr-only">Cart</span>
        </summary>
        {% render "cart-drawer" %}
      </details>
    </li>
  </ul>
</div>

{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "site-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}
